body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#container {
    display: flex;
    width: 80%;
    height: 80%;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#rooms {
    width: 30%;
    border-right: 1px solid #ccc;
    padding: 10px;
}

#chat {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#messages {
    flex: 1;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

#messageInput {
    width: calc(100% - 70px);
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    background-color: rgb(255, 106, 0);
}
